@using HealthNCare.Areas.Identity.Data
@using Microsoft.AspNetCore.Identity
@model Patients1
<style>
    tr:hover{background-color: aquamarine;}
</style>
<table class="table table-hover table striped" style="color: white;">
    <thead>
        <tr>
            <th>İsim Soyisim</th>
            <th>E-mail</th>
     
        </tr>
    </thead>
    <tbody>
        <tr>
        <th>@Model.FirstName @Model.LastName</th>
        <th>@Model.Email</th>
        </tr>
    </tbody>
</table>
<table class="table table-hover table stripped" style="color: white;" >
    <thead>
        <tr tr:hover{background-color:blue}>
        <th>Yaş</th>
        <th>Kilo</th>
        <th>Boy</th>
        <th>Kan Grubu</th>
        </tr>
    </thead>
    <tbody>
        <tr>
        <th>@Model.Age</th>
        <th>@Model.Weight</th>
        <th>@Model.Height</th>
        <th>@Model.BloodType</th>
        </tr>
    </tbody>
</table>
